In [7]:
import pandas
catalogue_info = pandas.read_csv("datas/tj.csv") # 以逗号为分隔符就可以使用read_csv
print(type(catalogue_info))
print(catalogue_info.dtypes)
# dtypes类型object，int，float，datetime，bool
print(help(pandas.read_csv))

<class 'pandas.core.frame.DataFrame'>
序号                 int64
单位                object
成果名称              object
技术水平              object
负责人               object
所属技术领域            object
合作单位              object
项目总规模或评估价值（万元）    object
目前所处阶段            object
知识产权情况            object
项目简介              object
dtype: object
Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.
    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

None

In [117]:
# 默认五行
# catalogue_info.head(3)

# 遍历后面几行
# catalogue_info.tail(4)

# 查看列属性
# catalogue_info.columns

# 查看表中的结构
# catalogue_info.shape

# 查看指定行的数据信息
# catalogue_info.loc[1]

# 返回四到七个样本
# catalogue_info.loc[3:6]
catalogue_info.loc[-1:]

# 获取指定列的所有数据
# tial = catalogue_info["单位"]
# tial = catalogue_info[["单位","成果名称"]]
# print(tial)

# 获取指定位置的数据
tail_detail = catalogue_info.loc[83,"单位"]
print(tail_detail)

# 筛选所需要的列信息
col_names = catalogue_info.columns.tolist()
print(col_names)
gram_columns = []

for c in col_names:
    if c.endswith("单位"):
        gram_columns.append(c)
gram_df = catalogue_info[gram_columns]
print(gram_df)

铁道第三勘察设计院集团有限公司
['序号', '单位', '成果名称', '技术水平', '负责人', '所属技术领域', '合作单位', '项目总规模或评估价值（万元）', '目前所处阶段', '知识产权情况', '项目简介']
                         单位                                               合作单位
0             天津市大力神非开挖工程公司                                                NaN
1                 天津市东丽区农林局                                                NaN
2     中国人民解放军军事医学科学院卫生装备研究所                                                NaN
3                  天津大学化工学院                                          天津海豚碳黑公司,
4              天津市液化气有限责任公司                                        天津市农村能源办公室,
...                     ...                                                ...
3815      中科院苏州纳米技术与纳米仿生研究所                                                NaN
3816    中国科学院苏州纳米技术与纳米仿生研究所  周扬所属技术领域先进制造与自动化技术水平国内领先目前所处阶段初期阶段项目总规模或评估价值（万...
3817               中科院力学研究所                                                NaN
3818               中科院力学研究所                                                NaN
3819               中科院力学研究所                                                NaN

[3820 rows x 2 columns]

In [121]:
# 根据values值进行排序
# catalogue_info.sort_values("序号",inplace = True)  # 默认升序  可以通过ascending指定降序  inplace = True  是否修改原本的矩阵
# print(catalogue_info["序号"])
new_catalogue_info = catalogue_info.sort_values("序号",inplace = False,ascending = False)
print(new_catalogue_info["序号"])
# 重新设置索引值
catalogue_info_reindexed = new_catalogue_info.reset_index(drop=True)
print(catalogue_info_reindexed["序号"][0:10])

3819    21835
3818    21834
3817    21833
3816    21831
3815    21827
        ...
4          23
3          14
2           8
1           6
0           5
Name: 序号, Length: 3820, dtype: int64
0    21835
1    21834
2    21833
3    21831
4    21827
5    21826
6    21823
7    21820
8    21814
9    21795
Name: 序号, dtype: int64

In [2]:
import numpy as np
import pandas as pd
# 获取数据
jingjinji_info = pd.read_csv("datas/jjj.csv")
# 获取列
address = jingjinji_info["联系单位地址"]
# print(address)
# 查看是否存在空值
address_is_null = pd.isnull(address)
# 查看空值
# print(address[address_is_null])
print(jingjinji_info["联系单位地址"][address_is_null])
# 查看不为空的值
print(jingjinji_info["联系单位地址"][address_is_null == False])

25     NaN
36     NaN
42     NaN
84     NaN
103    NaN
104    NaN
128    NaN
130    NaN
131    NaN
147    NaN
148    NaN
Name: 联系单位地址, dtype: object
0      河北省沧州市临港经济技术开发区规划一号路南
1              北京市朝阳区尚家楼甲48号
2          北京市东城区崇内大街后沟胡同17号
3           北京市西城区德胜门外安康胡同5号
4          北京市西城区复兴门外南礼士路17号
               ...
149             天津市河东区六纬路93号
150               天津市南开区芥园西道
151               天津市南开区芥园西道
152             天津市南开区科研东路1号
153             天津市南开区科研东路1号
Name: 联系单位地址, Length: 143, dtype: object

In [116]:
values = catalogue_info["项目总规模或评估价值（万元）"]

# 数据类型转换
# pd.to_numeric(values) # or pd.to_numeric(values, errors='raise') 若需要转换的值中无脏数据
# pd.to_numeric(values, errors='coerce') # 无效值强制转换为NaN
# pd.to_numeric(values, errors='ignore') # 如果遇到无效值，第三个选项就是忽略该操作：
catalogue_info["项目总规模或评估价值（万元）"] = pd.to_numeric(catalogue_info["项目总规模或评估价值（万元）"], errors='coerce')

# 计算平均值
# print(values)
# print(values[pd.isnull(values)])
values_is_null = pd.isnull(values)
good_values = catalogue_info["项目总规模或评估价值（万元）"][values_is_null == False]
print(good_values)
correct_mean_value = sum(good_values) / len(good_values)
print(correct_mean_value)

correct_mean_value = catalogue_info["项目总规模或评估价值（万元）"].mean()
print(correct_mean_value)
# values.astype(float)
# print(help(values.astype()))

# 去掉NaT的数据
print(help(catalogue_info.dropna))

1        381.0
2         70.0
3          8.0
4         20.0
5         72.0
         ...
3787       9.0
3789       9.0
3790      10.0
3792       9.0
3794    6799.0
Name: 项目总规模或评估价值（万元）, Length: 3266, dtype: float64
2766.1297979179417
2766.1297979179417
Help on method dropna in module pandas.core.frame:

dropna(axis=0, how='any', thresh=None, subset=None, inplace=False) method of pandas.core.frame.DataFrame instance
    Remove missing values.

    See the :ref:`User Guide <missing_data>` for more on which values are
    considered missing, and how to work with missing data.

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Determine if rows or columns which contain missing values are
        removed.

        * 0, or 'index' : Drop rows which contain missing values.
        * 1, or 'columns' : Drop columns which contain missing value.

        .. versionchanged:: 1.0.0

           Pass tuple or list to drop on multiple axes.
           Only a single axis is allowed.

    how : {'any', 'all'}, default 'any'
        Determine if row or column is removed from DataFrame, when we have
        at least one NA or all NA.

        * 'any' : If any NA values are present, drop that row or column.
        * 'all' : If all values are NA, drop that row or column.

    thresh : int, optional
        Require that many non-NA values.
    subset : array-like, optional
        Labels along other axis to consider, e.g. if you are dropping rows
        these would be a list of columns to include.
    inplace : bool, default False
        If True, do operation inplace and return None.

    Returns
    -------
    DataFrame
        DataFrame with NA entries dropped from it.

    See Also
    --------
    DataFrame.isna: Indicate missing values.
    DataFrame.notna : Indicate existing (non-missing) values.
    DataFrame.fillna : Replace missing values.
    Series.dropna : Drop missing values.
    Index.dropna : Drop missing indices.

    Examples
    --------
    >>> df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
    ...                    "toy": [np.nan, 'Batmobile', 'Bullwhip'],
    ...                    "born": [pd.NaT, pd.Timestamp("1940-04-25"),
    ...                             pd.NaT]})
    >>> df
           name        toy       born
    0    Alfred        NaN        NaT
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Drop the rows where at least one element is missing.

    >>> df.dropna()
         name        toy       born
    1  Batman  Batmobile 1940-04-25

    Drop the columns where at least one element is missing.

    >>> df.dropna(axis='columns')
           name
    0    Alfred
    1    Batman
    2  Catwoman

    Drop the rows where all elements are missing.

    >>> df.dropna(how='all')
           name        toy       born
    0    Alfred        NaN        NaT
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Keep only the rows with at least 2 non-NA values.

    >>> df.dropna(thresh=2)
           name        toy       born
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Define in which columns to look for missing values.

    >>> df.dropna(subset=['name', 'born'])
           name        toy       born
    1    Batman  Batmobile 1940-04-25

    Keep the DataFrame with valid entries in the same variable.

    >>> df.dropna(inplace=True)
    >>> df
         name        toy       born
    1  Batman  Batmobile 1940-04-25

None

In [115]:
a = [['a', '1.2', '4.2'], ['b', '70', '0.03'], ['x', '5', '0']]
df = pd.DataFrame(a)
df.dtypes

0    object
1    object
2    object
dtype: object

In [122]:
# 统计关系
# 几等舱乘客的平均获救几率
passenger_survival = titanic_suervial.pivot_table(index="Pclass",values="Survived",aggfunc = np.mean)  # aggfunc = np.mean均值，index目标，values值
# 几等舱乘客的平均年龄
passenger_age = titanic_suervial.pivot_table(index="Pclass",values="Age") # 默认 aggfunc = np.mean
# 三个出发地点的总票和登船人数
port_stats = titanic_suervial.pivot_table(index="Embarked",values=["Fare","Survived"],aggfunc = np.sum)

NameError: name 'titanic_suervial' is not defined

In [133]:
# 函数使用
def not_null_count(column):
    column_null = pd.isnull(column)
#     column_null = !column_null
    not_null = column[column_null==False]
    return len(not_null)

def is_null_count(column):
    column_null = pd.isnull(column)
#     column_null = !column_null
    not_null = column[column_null]
    return len(not_null)

column_not_null = jingjinji_info.apply(is_null_count)
print(column_not_null)


def which_class(row):
    pclass = row["Pclass"]
    if pd.isnull(pclass):
        return "Unkown"
    elif pclass == 1:
        return "First Class"
    elif pclass == 2:
        return "Second Class"
    elif pclass == 3:
        return "Third Class"
classes = titanic_suervial.apply(which_class, axis=1)

ID          0
成果名称        0
项目年度编号      0
省市          0
中图分类号       0
成果类别        0
成果分布年份      0
关键词         0
成果简介        0
鉴定部门      145
登记号        57
完成单位        0
完成人        22
应用行业名称      0
应用行业代码      0
联系单位地址     11
传真        126
电子邮件      137
dtype: int64

In [4]:
a = [['a', '1.2', '4.2'], ['b', '70', '0.03'], ['x', '5', '0'],['c', '5', '0']]
df = pd.DataFrame(a)
df

   0    1     2
0  a  1.2   4.2
1  b   70  0.03
2  x    5     0
3  c    5     0